[submodule "server"]
	path = server
	url = git@github.com:import-useteam-from-futureproof/server.git
[submodule "client"]
	path = client
	url = git@github.com:import-useteam-from-futureproof/client.git
[submodule "socket"]
	path = socket
	url = git@github.com:import-useteam-from-futureproof/socket-server.git
